// Specific CSS for your home-page

.advantages {
    padding: 60px 0;
    text-align: center;
    background: #fff;
}
.grid-g {
  display: flex;
}
.advantage {
  padding:20px;
}
.advantages .title {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #51555a;
}
.icon_ad {
  font-size: 30px;
  margin: 10px;
}
.form_landing {
  padding: 20px;
  height: 30px;
  color: rgb(130,130,130);
  border-radius: 0px;
}
.where {
  font-size: 30px;
  margin: 10px;
}
