// Specific CSS for your home-page

.advantages {
  padding: 60px 0;
  text-align: center;
  background: #fff;
}
.grid-g {
  display: flex;
  margin-left: 1px
}
.advantage {
  padding:20px;
}
.advantages .title {
  font-size: 20px;
  font-weight: 500;
  margin-bottom: 10px;
  color: #51555a;
}
.icon_ad {
  font-size: 30px;
  margin: 5px;
}
.form_landing {
  padding: 20px;
  height: 30px;
  color: rgb(130,130,130);
  border-radius: 0px;
  align: center;

}
.where {
  font-size: 30px;
  margin: 5px;
}

select {
  height: 40px;
  // border-radius: 7%;
  background-color: #3CBC8D;
  // border: 2px #50bc8d;
  color: white;
  border: 10px;
  border-color: black;
  vertical-align: middle;
}

option {
  height: 50px;
  // border-radius: 5%;
  background-color: white;
  border: 2px #50bc8d;
  color: gray;
  border-radius: 0px;
}

#address {
  height: 40px;
  width: 300px;
  border: 10px;
  border-color: black;
  color: black;
  text-indent: 5%;
  vertical-align: middle;
  border-radius: 2px;
  // border-radius: 4px;s
}

.btn {
  background-color: #3CBC8D;
  // border: 2px #3CBC8D;
  border-color: black;
  color: white;
  height: 40px;
  border: 10px;
  border-radius: 5px;
  margin-left: 0px;
  display: inline-block;
  white-space: nowrap;
}

.special_button{
  vertical-align: middle;
  height: 40px;
  // border-radius: 7%;
  background-color: #3CBC8D;
  // border: 2px #50bc8d;
  color: white;
  border: 10px;
  border: none;
  margin-left: 0.2px;
}

.btn:hover {
  transition: background-color 0.5s ease;
  background-color: #21966b;
  color: white;
}

.inline_buttons {
  display: flex;
  justify-content: center;
  margin-left: 0.2px;
  space-between: 0.2px;
}
