<div class="footer">
  <div class="footer-links">
    <a href="#"><i class="fab fa-instagram"></i></a>
    <a href="#"><i class="fab fa-facebook-f"></i></a>
    <a href="#"><i class="fab fa-twitter"></i></a>
    <a href="#"><i class="fab fa-linkedin-in"></i></a>
  </div>
  <div class="footer-copyright">
    Everything you need <%= image_tag "logo.png", height: 15 %> you can have with FixIt
  </div>
</div>
