<div class="banner" style="background-image: linear-gradient(-225deg, rgba(0,101,168,0.6) 0%, rgba(0,36,61,0.6) 50%), url('https://images.pexels.com/photos/33343/building-joy-planning-plans.jpg?w=940&h=650&dpr=2&auto=compress&cs=tinysrgb'); ">
  <div class="banner-content">
    <h1>A problem to be fixed?</h1>
    <p>Find the best people around you</p>

<div class= "inline_buttons" >
  <%= form_tag(providers_path, method: :get, class: "form") do %>
      <%= text_field_tag :address %>
      <%= collection_select(:service, :id, Service.all, :id, :name, {prompt: 'Find a service'}) %>
      <%= submit_tag 'Search', class: "btn btn-primary special_button" %>
  <% end %>

</div>

  </div>

</div>

<div class ="container">
  <div class = row>
    <h2 class = 'text-center'> In people we trust </h2>
    <p class = 'text-center'> <i>“Always do sober what you said you'd do drunk. That will teach you to keep your mouth shut.”</i></p>
    <p class = 'text-center'>  ― Ernest Hemingway </p>
  </div>
</div>

<section class="advantages">
  <div class="container">
    <div class="grid-g">
      <div class="advantage grid-u-1 grid-u-sm-12-24 grid-u-md-8-24">
        <i class="icon_ad fas fa-check"></i>
        <div class="title">Certified professionals</div>
        <p>For your own security all the professionals listed on FixIt were checked and approved.
        </p>
      </div>
      <div class="advantage grid-u-1 grid-u-sm-12-24 grid-u-md-8-24">

        <i class="icon_ad far fa-comment"></i>
        <div class="title">Customers reviews and comments</div>
        <p>You can find here photos and work reviews.</p>
      </div>
      <div class="advantage grid-u-1 grid-u-sm-12-24 grid-u-md-8-24">
        <i class="icon_ad far fa-thumbs-up"></i>
        <div class="title">Simple and free</div>
        <p>FixIt is 100% free and there is no commission imposed on your projects.</p>
      </div>
    </div>
  </div>
</section>

      </div>
    </div>
  </div>
</section>
